/* All pages */

body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: rgb(233, 233, 233);
    font-family: 'Josefin Sans', sans-serif;
}

nav {
    height: 110px;
}

nav img {
    height: 100px;
    position: absolute;
    transform: translateY(-10px);
}

nav ul {
    list-style: none;
    text-align: right;
    transform: translate(-100px, 0px);
}

nav li {
    display: inline-block;
    text-align: center;
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    width: 40px;
    display: block;
    padding: 20px;
    margin: 0 20px;
    font-size: 22px;
    color: rgb(233, 233, 233);
}

nav a:visited {
    text-decoration: none;
    color: rgb(233, 233, 233);
}

footer nav ul {
    text-align: center;
    transform: translateY(0);
}

/* Home page */

.banner {
    text-align: center;
    width: 100%;
    height: 600px;
}

.banner video {
    object-fit: cover;
    object-position: 50% 100%;
    height: 600px;
    width: 100%;
    opacity: 80%;
}

.banner-content {
    transform: translateY(-410px);
    width: 70%;
    margin: auto;
}

.banner-content h1 {
    font-size: 46px;
    opacity: 90%;
}

.banner-content h2 {
    font-size: 30px;
    opacity: 90%;
}

.container {
    text-align: center;
    background-color: rgb(0, 0, 0);
    padding: 25px 0 60px 0;
}

.card {
    text-align: center;
    display: inline-block;
    background-color: rgb(19, 19, 19);
    border-radius: 5px;
    width: 350px;
    padding-top: 15px;
    height: 380px;
    margin: 0 20px;
    border: 2px solid rgb(19, 19, 19);
    box-shadow: 0 0 3px 0 rgb(82, 82, 82);
}

.container h3 {
    font-size: 32px;
}

.card img {
    height: 300px;
    width: 300px;
}

.card:hover {
    border: 2px solid rgba(85, 85, 85, 0.5);
    background-color: black;
    border-radius: 50%;
    transition: ease-in-out 0.6s;
}

.card:not(:hover) {
    transition: ease-in-out 0.3s;
}

.listen {
    text-align: center;
    background-color: rgb(22, 22, 22);
}

.listen h5 {
    font-size: 30px;
}

.listen-video {
    display: inline-block;
    width: 49%;
    height: 70%;
    vertical-align: top;
    margin: 50px auto;
}

.listen-video video {
    width: 40%;
    height: 100%;
    box-shadow: 0 0 10px 0 black;
}

.listen-video video:hover {
    box-shadow: 0 0 20px 0 rgb(59, 59, 59);
    border-radius: 50%;
    transition: 1s;
}

.listen-video video:not(:hover) {
    transition: 1s;
}

.listen-content {
    display: inline-block;
    width: 50%;
    text-align: center;
    vertical-align: top;
    margin: 50px auto;
}

.listen-content img {
    height: 100px;
    display: block;
}

.listen-content h5 {
    margin-top: 0;
}

.listen-content p {
    font-size: 26px;
    width: 80%;
    margin-left: 10%;
    line-height: 30px;
}

#spotify {
    height: 100px;
    display: inline-block;
    transform: translateY(16px);
}

#apple {
    height: 70px;
    display: inline-block;
}

.song-link {
    margin: 0 20px;
}

/* Beats page */
.beats {
    text-align: center;
}

audio {
    height: 40px;
    padding: 10px;
}
/* Contact page */