body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: rgb(233, 233, 233);
    font-family: 'Josefin Sans', sans-serif;
}

nav a {
    text-decoration: none;
}

nav a:visited {
    text-decoration: none;
    color: rgb(233, 233, 233);
}

.banner {
    text-align: center;
    width: 100%;
}

.banner video {
    object-fit: cover 30px;
    height: 600px;
    width: 100%;
    opacity: 80%;
}

.container {
    text-align: center;
    background-color: rgb(27, 27, 27);
    padding: 25px 0 60px 0;
}

.card {
    text-align: center;
    display: inline-block;
    background-color: black;
    border-radius: 5px;
    width: 330px;
    padding: 20px 0 10px 0;
    box-shadow: 0 0 3px 0 black;
    margin: 0 20px;
}

.card img {
    height: 300px;
    width: 300px;
}